{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La Boutique Française{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong>La Boutique Française</strong>
            <hr>
            06 06 06 06 06<br/>
            8 rue des lylas fleuris, 75000 Paris.<br/>
            contact@laboutiquefrancaise.fr<br/>
        </div>
    </div>

{% endblock %}
